h1, p {
  font-family: Arial;
  text-align: center;
}

#image-container {
  display: flex;
  justify-content: space-around;
}

#image-container img {
  height: 250px;
  width: 30%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}
